* { margin:0; padding:0; box-sizing:border-box; }



body {
	background-color: #29547f;
	font-family: 'Imprima', serif;
	font-size: 18px;
	text-align: center;
	color: white;
}

h1 {
	font-family: 'Chicle', serif;
	font-size: 3.5em;
	font-weight: 200;
	color: #9cbfe3;
}

h3 {
	text-align: left;
	padding: 1em;
}

img  {
	width: 25%;
 	padding: 1em;
}

section {
	max-width: 80%;
    margin: auto;
}

article {
	clear: both;
	max-width: 95%;
	margin: auto; 
}

article img {
	float: left;
	padding: 0;
	padding-right: 1em;
}

article p {
	text-align: left; 
	max-width: 80%;
	padding-top: 3.5em;
}


#foot {

	font-size: .75em;
	padding: 1.5em;
	clear: both;
	}

.footer {
	text-align: center;
}

.mailto {
	color: #f6fafe;
}

#slogan {
	font-family: 'Chicle', serif;
	font-size: 1.75em;
}

@media only screen and (max-width: 768px) {
	img {
	width: 100%;
	}

	h1 {
		max-width: 95%;
	}

	h3 {
		text-align: center;
	}

	article img {
 		float: none;
  		margin: 0 auto;
}

	article p {
		text-align: center;
		max-width: 95%;
		padding: 0em;
}

 	#slogan {
 		max-width: 95%;
 	}
}

	


	