body {
	background-color: #29547f;
	font-family: 'Chicle', serif;
	font-size: 22px;
	text-align: center;
	color: white;
	

}
#h1 {
	font-size: 60px;
	font-weight: 200;
	color: #9cbfe3;
}

#slogan {
	font-size: 30px;
	text-decoration: underline;
}

#img  {
    padding: 20px;
}
#ul {
      list-style-type: none;
}

.mailto {
	color: #f6fafe
}

