body {
	background-color: #29547f;
	text-align: center;
	color: white;
	

}
#h1 {
	font-size: 40px;
	color: #9cbfe3;
}

#slogan {
	font-size: 20px;
	text-decoration: underline;
}

#img  {
    padding: 25px;
}
ul {
      list-style-type: none;
}
